<h1 mat-dialog-title>Add New User</h1>

<div mat-dialog-content>

  <p>Username:</p>
  <mat-form-field>
    <input 
        matInput tabindex="5" 
        type="text" 
        id="username" 
        name="username"
        ngModel
        required>

  </mat-form-field>

  <p>Email:</p>
  <mat-form-field>
    <input 
        matInput tabindex="1" 
        type="text" 
        id="email" 
        name="email"
        ngModel
        required>
  </mat-form-field>

  <p>Password:</p>
  <mat-form-field>
    <input 
        matInput tabindex="1" 
        matInput tabindex="1" 
        type="password" 
        id="password" 
        name="password"
        ngModel
        required>
  </mat-form-field>

  <p>role:</p>
  <mat-form-field>
    <input 
        matInput tabindex="1" 
        type="text" 
        id="role" 
        name="role"
        ngModel
        required="required"> 
     </mat-form-field> 

</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" tabindex="5">Add</button>
  <button mat-button (click)="onNoClick()" tabindex="3">Cancel</button>
</div>